.dt-paging nav {
    width: auto !important;
    position: relative !important;
    height: auto !important;
    display: flex !important;
    justify-content: center !important;
    margin-top: 10px !important;
}


.dt-length {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.menu-navs{
    display: none;
}


/* Mobile Sidebar Styles */
@media (max-width: 768px) {




}

/* Desktop styles */
@media (min-width: 769px) {
  
}

